* {
    box-sizing: border-box;
}

:root {
    --primary-color: rgba(30, 191, 193, 1);
    --header-bg: rgba(16, 55, 92, 1);
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    font-family: "Sora", sans-serif;
}

/* ===== Common ===== */
a {
    text-decoration: none;
}

.container {
    width: 1170px;
    max-width: calc(100% - 48px);
    margin: 0 auto;
}

.btn {
    --height: 60px;
    display: inline-block;
    min-width: 205px;
    height: var(--height);
    padding: 0 20px;
    border-radius: 999px;
    text-align: center;
    line-height: var(--height);
    color: #fff;
    font-size: 1.6rem;
    font-weight: 400;
    background-color: rgba(46, 128, 206, 1);
    border: 1px solid rgba(46, 128, 206, 1);
    transition: 0.25s;
}

.btn:hover {
    opacity: 0.85;
    cursor: pointer;
}

.section-heading {
    color: #10375c;
    font-size: 5rem;
    font-weight: 600;
    line-height: 1.2;
    letter-spacing: -1px;
}

.section-desc {
    margin-top: 18px;
    color: #575f66;
    font-size: 1.8rem;
    font-style: normal;
    font-weight: 300;
    line-height: 1.67;
}

.center {
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Button */

.control {
    display: flex;
    column-gap: 18px;
}

.control__btn {
    width: 36px;
    height: 36px;
    outline: none;
    background-color: #fff;
    color: rgba(87, 95, 102, 1);
    border: 1.5px solid rgba(87, 95, 102, 1);
    border-radius: 50%;
    transition: 0.25s;
}

.control__btn:hover {
    cursor: pointer;
    color: #fff;
    background-color: rgba(46, 128, 206, 1);
    border: rgba(46, 128, 206, 1);
}

.control-next-icon {
    rotate: 180deg;
}

/* ===== Header ===== */

.header {
    padding: 30px;
    min-height: 100vh;
    background-color: var(--header-bg);
}

.logo {
    display: inline-flex;
    position: relative;
    font-size: 1rem;
}

.logo .logo__circle::before {
    width: 3em;
    height: 3em;
    background-color: rgba(46, 128, 206, 1);
    content: "";
    display: inline-block;
    border-radius: 50%;
}

.logo .logo__circle::after {
    position: absolute;
    top: 1.1em;
    left: 1.1em;
    width: 1.6em;
    height: 1.6em;
    background-color: #fff;
    content: "";
    display: inline-block;
    border-radius: 50%;
}

.logo .logo__text {
    margin-left: 0.6em;
    color: #fff;
    text-align: right;
    line-height: 1.6em;
}

.logo .logo__text .logo__brand {
    display: block;
    font-size: 1.8em;
    font-weight: 400;
}

.logo .logo__text .logo__brand--small {
    font-size: 1.2em;
    font-weight: 300;
    letter-spacing: 0em;
}

/* ===== Header top ===== */

.header-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-top .navbar .navbar__list {
    display: flex;
}

.header-action__login,
.header-top .navbar .navbar__link {
    color: rgba(201, 210, 218, 1);
    padding: 8px 21px;
    font-size: 1.6rem;
    font-weight: 300;
    text-align: center;
}

.header-action__login:hover,
.header-top .navbar .navbar__link:hover,
.navbar__item--active {
    text-shadow: 1px 0 0 #fff;
    /* text-shadow: 0.5px 0 0.01px currentColor, 0.5px 0 0.01px currentColor; */
}

.navbar__item--active::before {
    position: relative;
    left: -8px;
    top: -3px;
    content: "";
    display: inline-block;
    width: 6px;
    height: 6px;
    background-color: #fff;
    border-radius: 50%;
}

.header-action {
    display: flex;
    align-items: center;
}

.header-top .header-action__signup {
    margin-left: 7px;
    --height: 44px;
    min-width: 104px;
}

/* ===== Hero Content =====*/

.hero {
    margin-top: 76px;
    display: flex;
    align-items: center;
}

.hero__content {
    width: 44%;
    flex-shrink: 0;
}

.hero__media {
    flex-grow: 1;
}

.hero__content .hero__heading {
    font-size: 7rem;
    font-weight: 600;
    line-height: 80px;
    letter-spacing: -0.02em;
    text-align: left;
    color: rgba(255, 255, 255, 1);
}

.hero__content .hero__desc {
    margin-top: 22px;
    font-size: 1.8rem;
    font-weight: 300;
    line-height: 30px;
    text-align: left;
    color: rgba(201, 210, 218, 1);
}

.hero__content .hero__row {
    margin-top: 38px;
    display: flex;
    align-items: center;
}

.hero__content .hero__row .hero__phone {
    margin-left: 38px;
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 30px;
    text-align: center;
    color: rgba(255, 255, 255, 1);
}

/* ===== Hero Media =====*/

.hero__images {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.hero__images .hero__img {
    width: 300px;
    height: 540px;
    border-radius: 6px;
    object-fit: cover;
}

.hero__images .hero__img:first-child {
    position: relative;
    margin-right: -6px;
}

.hero__images .hero__img:last-child {
    width: 210px;
    height: 410px;
}

/* ===== Services =====*/

.services {
    padding: 170px;
}

.service__heading,
.service__desc {
    text-align: center;
}

.service__desc {
    max-width: 468px;
    margin-left: auto;
    margin-right: auto;
}

.service__row {
    margin-top: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.service__row .service__img {
    width: 570px;
    height: 570px;
    object-fit: cover;
    border-radius: 12px;
}

/* === Service item === */

.service-item {
    display: flex;
    width: 470px;
    padding: 22px;
    border-radius: 10px;
    background-color: #fff;
    transition: 0.25s;
}

.service__list {
    margin-bottom: 55px;
}

.service-item:hover {
    position: relative;
    box-shadow: 0px 14px 28px 0px rgba(0, 0, 0, 0.05);
}

.service-item:hover .service-item__icon {
    background-color: rgba(46, 128, 206, 1);
    color: #fff;
}

.service-item__icon {
    flex-shrink: 0;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    color: rgba(16, 55, 92, 1);
    background-color: rgba(239, 246, 253, 1);
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.05);
    transition: 0.25s;
}

.service-item__body {
    margin-left: 20px;
}

.service-item__heading {
    color: #10375c;
    font-size: 1.8rem;
    font-weight: 600;
    line-height: 1.27;
}

.service-item__desc {
    margin-top: 8px;
    color: #575f66;
    font-size: 1.6rem;
    font-weight: 300;
    line-height: 1.75; /* 175% */
}

/* ===== How it work ===== */

.work {
    background-color: rgba(246, 251, 255, 1);
    padding: 100px 0;
}

.work__desc {
    width: 468px;
}

.work__list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 30px;
    margin-top: 86px;
}

.work-item {
    padding: 44px;
    border: 16px solid #eaf6ff;
    border-radius: 4px;
    transition: 0.25s;
}

.work-item:hover {
    transform: translateY(-16px);
    border: 16px solid rgba(46, 128, 206, 1);
}

.work-item:hover .work-item__more {
    font-weight: 400;
}

.work-item__heading {
    margin-top: 18px;
    color: #10375c;
    font-size: 2.6rem;
    font-weight: 600;
    line-height: 1.38;
}

.work-item__desc {
    margin-top: 28px;
    color: #575f66;
    font-size: 1.6rem;
    font-weight: 300;
    line-height: 1.75;
}

.work-item__more {
    display: inline-block;
    margin-top: 18px;
    color: #2e80ce;
    font-size: 1.6rem;
    font-weight: 300;
    line-height: 1.75;
}

/* ===== Features ===== */

.features {
    margin-top: 85px;
    padding: 85px 0;
}

.feature__inner {
    display: flex;
    column-gap: 130px;
    justify-content: space-between;
    align-items: center;
}

.feature__media {
    width: 48.8%;
}

.feature__images {
    position: relative;
    padding-right: 58px;
    padding-bottom: 121px;
}

.feature__img {
    width: 512px;
    height: 370px;
    border-radius: 6px;
    object-fit: cover;
}

.feature__img:last-child {
    position: absolute;
    right: 0;
    bottom: 0;
    width: 332px;
    height: 370px;
}

.feature__cta {
    margin-top: 38px;
}

/* ===== Member ===== */

.member {
    padding: 85px 0;
}

.member__header {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.member__cta {
    margin-top: 38px;
}

.member__list {
    margin-top: 70px;
    display: grid;
    column-gap: 30px;
    grid-template-columns: repeat(4, 1fr);
}

.member-item:hover .member-item__img {
    transform: scale(1.1);
}

.member-item__img-bg {
    padding-top: 28px;
    border-radius: 6px;
    background: #eaf6ff;
    overflow: hidden;
}

.member-item__img {
    display: block;
    max-width: 100%;
    height: 290px;
    object-fit: cover;
    transition: 0.25s;
}

.member-item__name {
    margin-top: 12px;
    color: #10375c;
    text-align: center;
    font-size: 1.6rem;
    font-weight: 500;
    line-height: 1.75;
}

.member-item__title {
    color: #575f66;
    text-align: center;
    font-size: 1.4rem;
    font-weight: 300;
    line-height: 1.86;
}

.member__control {
    margin-top: 38px;
    justify-content: center;
}

/* ===== Install ===== */

.install {
    padding: 180px 0 85px;
}

.install__inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 70px;
    background: #2e80ce;
    border-radius: 4px;
}

.install__img {
    display: block;
    margin-top: -95px;
    width: 284px;
    height: 522px;
    object-fit: cover;
}

.install__content {
    width: 57%;
}

.install__heading,
.install__desc {
    color: #fff;
}

.install__heading {
    max-width: 489px;
}

.install__row {
    display: flex;
    column-gap: 28px;
    margin-top: 38px;
}

/* ===== News ===== */

.news {
    padding: 85px 0;
}

.news__inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.news__content {
    flex-shrink: 0;
}

.news__heading {
    max-width: 470px;
}

.news__more {
    display: inline-block;
    margin: 28px 0;
    color: #10375c;
    font-size: 1.8rem;
    font-weight: 600;
    line-height: 1.56; /* 155.556% */
    transition: 0.25s ease;
}

.news__more:hover {
    text-decoration-line: underline;
    text-underline-offset: 5px;
}

.news__list {
    display: flex;
    column-gap: 30px;
    max-width: 570px;
}

.news-item {
    flex: 1;
    border-radius: 12px;
    overflow: hidden;
    transition: 0.25s;
}

.news-item:hover {
    box-shadow: 0px 18px 50px 0px rgba(0, 0, 0, 0.05);
    transform: translateY(-8px);
}

.news-item:hover .news-item__body {
    border: 1px solid transparent;
    border-top: none;
}

.news-item:hover .news-item__more {
    color: #2e80ce;
    font-weight: 500;
}

.news-item__thumb {
    display: block;
    width: 100%;
    height: 172px;
    object-fit: cover;
}

.news-item__body {
    padding: 22px;
    border: 1px solid #e8ebee;
    border-top: none;
    background: #fff;
    border-radius: 0 0 12px 12px;
    transition: 0.25s;
}

.news-item__heading {
    color: #10375c;
    font-size: 1.6rem;
    font-weight: 600;
    line-height: 1.62; /* 162.5% */
}

.news-item__desc {
    margin-top: 10px;
    color: #575f66;
    font-size: 1.4rem;
    font-weight: 300;
    line-height: 1.72; /* 171.429% */
}

.news-item__more {
    display: inline-block;
    margin-top: 12px;
    color: #10375c;
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1.6;
    transition: 0.25s;
}
